In [1]:
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import pandas as pd
from collections import OrderedDict
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

In [3]:
url="http://stats.espncricinfo.com/ci/engine/player/28081.html?class=2;template=results;type=batting;view=innings"
html = urllib.request.urlopen(url, context=ctx).read()

In [4]:
temp_data=OrderedDict()
list_of_dict=[]
bs=BeautifulSoup(html, "lxml")
table_body=bs('tbody')

In [5]:
table_body_1 = table_body[0]

In [6]:
rows = table_body_1('tr')
for row in rows:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    temp_data=OrderedDict()
    for i in range(len(cols)):
        temp_data["Overall"]=cols[0]
        temp_data["Span"]=cols[1]
        temp_data["Matches"]=cols[2]
        temp_data["Innings"]=cols[3]
        temp_data["NO"]=cols[4]
        temp_data["Runs"]=cols[5]
        temp_data["HS"]=cols[6]
        temp_data["Average"]=cols[7]
        temp_data["BF"]=cols[8]
        temp_data["Strike Rate"]=cols[9]
        temp_data["100"] = cols[10]
        temp_data["50"] = cols[11]
        temp_data["0"] = cols[12]
        temp_data["4's"] = cols[13]
        temp_data["6's"] = cols[14]
    list_of_dict.append(temp_data)

In [7]:
df=pd.DataFrame(list_of_dict)

In [8]:
df

,Overall,Span,Matches,Innings,NO,Runs,HS,Average,BF,Strike Rate,100,50,0,4's,6's
0,overall,2004-2019,350,297,84,10773,183*,50.57,12303,87.56,10,73,10,826,229

In [9]:
writer = ExcelWriter('ms-dhoni.xlsx')
df.to_excel(writer,'Sheet1',index=False)
writer.save()